.card { 
    background-color:rgb(0, 255, 145) ; 
    width: 480px; 
    padding: 28px; 
    border: 7px solid #933988; 
    border-radius: 50px; 
    margin-top: 50px;
    font-family: monospace
    }
    .avatar {
    background-color:#933988; 
    width: 50px; 
    height: 50px; 
    border-radius: 58px;
    }
    .destaque {
    color:#933988
    }